
<div class="container mt-5 mb-5">
    
    <p><h1 class="titulo3 text-center">Bienvenido al Portafolio</p> 
    <p> <h2 class=" titulo3 text-center">de Ruby on Rails de</p></h2>
    <p><h1 class="titulo2 text-center"> MANUEL NEGRETE</h1></p> 
</div>

